In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/hr-analytics-dataset/Cleaned_HR_Data_Analysis.csv
/kaggle/input/hr-analytics-dataset/Messy_HR_Dataset_Detailed.csv

In [2]:
df_clean = pd.read_csv("/kaggle/input/hr-analytics-dataset/Cleaned_HR_Data_Analysis.csv")

In [3]:
df_clean.head()

,Employee ID,StartDate,Title,BusinessUnit,EmployeeStatus,EmployeeType,PayZone,EmployeeClassificationType,DepartmentType,Division,...,Engagement Score,Satisfaction Score,Work-Life Balance Score,Training Date,Training Program Name,Training Type,Training Outcome,Training Duration(Days),Training Cost,Age
0,3427,20-Sep-19,Production Technician I,CCDR,Active,Contract,Zone C,Temporary,Production,Finance & Accounting,...,1,2,3,15-Jul-23,Leadership Development,Internal,Failed,2,606.11,50
1,3428,11-Feb-23,Production Technician I,EW,Active,Contract,Zone A,Part-Time,Production,Aerial,...,2,1,5,12-Sep-22,Customer Service,External,Incomplete,4,673.02,58
2,3429,10-Dec-18,Area Sales Manager,PL,Active,Full-Time,Zone B,Part-Time,Sales,General - Sga,...,1,2,1,13-Aug-22,Leadership Development,External,Failed,2,413.28,27
3,3430,21-Jun-21,Area Sales Manager,CCDR,Active,Contract,Zone A,Full-Time,Sales,Finance & Accounting,...,5,5,4,15-Dec-22,Project Management,External,Completed,3,663.78,23
4,3431,29-Jun-19,Area Sales Manager,TNS,Active,Contract,Zone A,Temporary,Sales,General - Con,...,2,5,3,13-Jul-23,Technical Skills,External,Failed,5,399.03,50

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845 entries, 0 to 2844
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee ID                 2845 non-null   int64
 1   StartDate                   2845 non-null   object
 2   Title                       2845 non-null   object
 3   BusinessUnit                2845 non-null   object
 4   EmployeeStatus              2845 non-null   object
 5   EmployeeType                2845 non-null   object
 6   PayZone                     2845 non-null   object
 7   EmployeeClassificationType  2845 non-null   object
 8   DepartmentType              2845 non-null   object
 9   Division                    2845 non-null   object
 10  DOB                         2845 non-null   object
 11  State                       2845 non-null   object
 12  GenderCode                  2845 non-null   object
 13  RaceDesc                    2845 non-null   object
 14  MaritalDesc                 2845 non-null   object
 15  Performance Score           2845 non-null   object
 16  Current Employee Rating     2845 non-null   int64
 17  Survey Date                 2845 non-null   object
 18  Engagement Score            2845 non-null   int64
 19  Satisfaction Score          2845 non-null   int64
 20  Work-Life Balance Score     2845 non-null   int64
 21  Training Date               2845 non-null   object
 22  Training Program Name       2845 non-null   object
 23  Training Type               2845 non-null   object
 24  Training Outcome            2845 non-null   object
 25  Training Duration(Days)     2845 non-null   int64
 26  Training Cost               2845 non-null   float64
 27  Age                         2845 non-null   int64
dtypes: float64(1), int64(7), object(20)
memory usage: 622.5+ KB

In [5]:
df_clean.isnull().sum()

Employee ID                   0
StartDate                     0
Title                         0
BusinessUnit                  0
EmployeeStatus                0
EmployeeType                  0
PayZone                       0
EmployeeClassificationType    0
DepartmentType                0
Division                      0
DOB                           0
State                         0
GenderCode                    0
RaceDesc                      0
MaritalDesc                   0
Performance Score             0
Current Employee Rating       0
Survey Date                   0
Engagement Score              0
Satisfaction Score            0
Work-Life Balance Score       0
Training Date                 0
Training Program Name         0
Training Type                 0
Training Outcome              0
Training Duration(Days)       0
Training Cost                 0
Age                           0
dtype: int64

In [6]:
DT = ['StartDate', 'DOB', 'Survey Date']

for item in DT:
    df_clean[item] = pd.to_datetime(df_clean[item], format='%d-%m-%Y', errors='coerce')

In [7]:
df_clean = pd.get_dummies(df_clean, drop_first=True)

In [8]:
# AnÃ¡lise estatÃ­stica bÃ¡sica
df_clean.describe()

,Employee ID,StartDate,DOB,Current Employee Rating,Survey Date,Engagement Score,Satisfaction Score,Work-Life Balance Score,Training Duration(Days),Training Cost,Age
count,2845.000000,0,2845,2845.000000,2845,2845.000000,2845.000000,2845.000000,2845.000000,2845.000000,2845.000000
mean,2470.591916,NaT,1971-08-19 17:09:00.316344464,2.974692,2023-02-04 21:18:32.267135232,2.941652,3.028471,2.989104,2.973989,559.278956,49.448506
min,1001.000000,NaT,1941-08-14 00:00:00,1.000000,2022-08-05 00:00:00,1.000000,1.000000,1.000000,1.000000,100.040000,17.000000
25%,1736.000000,NaT,1956-06-12 00:00:00,2.000000,2022-11-05 00:00:00,2.000000,2.000000,2.000000,2.000000,328.060000,34.000000
50%,2456.000000,NaT,1972-01-11 00:00:00,3.000000,2023-02-04 00:00:00,3.000000,3.000000,3.000000,3.000000,571.810000,49.000000
75%,3197.000000,NaT,1987-04-26 00:00:00,3.000000,2023-05-05 00:00:00,4.000000,4.000000,4.000000,4.000000,788.330000,65.000000
max,4000.000000,NaT,2001-07-09 00:00:00,5.000000,2023-08-05 00:00:00,5.000000,5.000000,5.000000,5.000000,999.970000,82.000000
std,859.450107,NaN,NaN,1.012610,NaN,1.435230,1.410067,1.408816,1.419682,263.333611,17.689179

In [9]:
# Verificar variÃ¡veis com valores constantes ou quase constantes
constant_columns = [col for col in df_clean.columns if df_clean[col].nunique() == 1]
print("Colunas constantes:", constant_columns)

Colunas constantes: []

In [10]:
# Passo 1: Identificar colunas com alta correlaÃ§Ã£o (maior que 0.9 ou menor que -0.9)
corr_matrix = df_clean.corr()

# Encontrar pares de variÃ¡veis altamente correlacionadas
high_corr_pairs = []
for col in corr_matrix.columns:
    # Comparar cada coluna com as outras (sem se comparar consigo mesma)
    high_corr = corr_matrix.index[abs(corr_matrix[col]) > 0.9].tolist()
    
    # Remover a prÃ³pria coluna da lista, se estiver lÃ¡
    if col in high_corr:
        high_corr.remove(col)
    
    for item in high_corr:
        high_corr_pairs.append((col, item))

/usr/local/lib/python3.10/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)

In [11]:
# Passo 2: Identificar colunas com pouca variabilidade
constant_columns = [col for col in df_clean.columns if df_clean[col].nunique() == 1]

# Passo 3: Identificar variÃ¡veis com baixa correlaÃ§Ã£o entre si
low_corr_pairs = []
for col in corr_matrix.columns:
    low_corr = corr_matrix.index[abs(corr_matrix[col]) < 0.1].tolist()
    if col in low_corr:  # Verificar se a coluna estÃ¡ na lista antes de tentar remover
        low_corr.remove(col)  # Remover a prÃ³pria coluna da lista
    for item in low_corr:
        low_corr_pairs.append((col, item))

# Listar colunas para remover
columns_to_remove = set()

/usr/local/lib/python3.10/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)

In [12]:
# Adicionar variÃ¡veis com alta correlaÃ§Ã£o
for pair in high_corr_pairs:
    columns_to_remove.add(pair[1])  # Remover uma das variÃ¡veis do par de alta correlaÃ§Ã£o

# Adicionar variÃ¡veis com pouca variabilidade
columns_to_remove.update(constant_columns)

# Adicionar variÃ¡veis com baixa correlaÃ§Ã£o (menos de 0.1)
for pair in low_corr_pairs:
    columns_to_remove.add(pair[1])  # Remover uma das variÃ¡veis do par de baixa correlaÃ§Ã£o

# Remover as colunas do DataFrame
df_cleaned = df_clean.drop(columns=columns_to_remove)

# Exibir as colunas que permanecem
print("Colunas que permanecem no dataset:")
print(df_cleaned.columns.tolist())

Colunas que permanecem no dataset:
['StartDate']