In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/resume-dataset/resume_data.csv

In [2]:
df = pd.read_csv("/kaggle/input/resume-dataset/resume_data.csv")

In [3]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   address                              784 non-null    object
 1   career_objective                     4740 non-null   object
 2   skills                               9488 non-null   object
 3   educational_institution_name         9460 non-null   object
 4   degree_names                         9460 non-null   object
 5   passing_years                        9460 non-null   object
 6   educational_results                  9460 non-null   object
 7   result_types                         9460 non-null   object
 8   major_field_of_studies               9460 non-null   object
 9   professional_company_names           9460 non-null   object
 10  company_urls                         9460 non-null   object
 11  start_dates                          9460 non-null   object
 12  end_dates                            9460 non-null   object
 13  related_skils_in_job                 9460 non-null   object
 14  positions                            9460 non-null   object
 15  locations                            9460 non-null   object
 16  responsibilities                     9544 non-null   object
 17  extra_curricular_activity_types      3426 non-null   object
 18  extra_curricular_organization_names  3426 non-null   object
 19  extra_curricular_organization_links  3426 non-null   object
 20  role_positions                       3426 non-null   object
 21  languages                            700 non-null    object
 22  proficiency_levels                   700 non-null    object
 23  certification_providers              2008 non-null   object
 24  certification_skills                 2008 non-null   object
 25  online_links                         2008 non-null   object
 26  issue_dates                          2008 non-null   object
 27  expiry_dates                         2008 non-null   object
 28  ﻿job_position_name                   9544 non-null   object
 29  educationaL_requirements             9544 non-null   object
 30  experiencere_requirement             8180 non-null   object
 31  age_requirement                      5457 non-null   object
 32  responsibilities.1                   9544 non-null   object
 33  skills_required                      7843 non-null   object
 34  matched_score                        9544 non-null   float64
dtypes: float64(1), object(34)
memory usage: 2.5+ MB

In [5]:
df.isnull().sum()

address                                8760
career_objective                       4804
skills                                   56
educational_institution_name             84
degree_names                             84
passing_years                            84
educational_results                      84
result_types                             84
major_field_of_studies                   84
professional_company_names               84
company_urls                             84
start_dates                              84
end_dates                                84
related_skils_in_job                     84
positions                                84
locations                                84
responsibilities                          0
extra_curricular_activity_types        6118
extra_curricular_organization_names    6118
extra_curricular_organization_links    6118
role_positions                         6118
languages                              8844
proficiency_levels                     8844
certification_providers                7536
certification_skills                   7536
online_links                           7536
issue_dates                            7536
expiry_dates                           7536
﻿job_position_name                        0
educationaL_requirements                  0
experiencere_requirement               1364
age_requirement                        4087
responsibilities.1                        0
skills_required                        1701
matched_score                             0
dtype: int64

In [6]:
# Verificando a quantidade de valores ausentes em cada coluna
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

# Exibindo as colunas com valores ausentes
missing_data = pd.DataFrame({
    'Total missing': missing_values,
    'Percentage missing': missing_percentage
})

# Exibindo as colunas com mais de 10% de valores ausentes
print(missing_data[missing_data['Percentage missing'] > 10])

                                     Total missing  Percentage missing
address                                       8760           91.785415
career_objective                              4804           50.335289
extra_curricular_activity_types               6118           64.103101
extra_curricular_organization_names           6118           64.103101
extra_curricular_organization_links           6118           64.103101
role_positions                                6118           64.103101
languages                                     8844           92.665549
proficiency_levels                            8844           92.665549
certification_providers                       7536           78.960604
certification_skills                          7536           78.960604
online_links                                  7536           78.960604
issue_dates                                   7536           78.960604
expiry_dates                                  7536           78.960604
experiencere_requirement                      1364           14.291702
age_requirement                               4087           42.822716
skills_required                               1701           17.822716

In [7]:
# Remover colunas com mais de 10% de valores ausentes
df_cleaned = df.dropna(thresh=len(df) * 0.9, axis=1)

# Verificando se as colunas com muitos nulos foram removidas
print(df_cleaned.isnull().sum())

skills                          56
educational_institution_name    84
degree_names                    84
passing_years                   84
educational_results             84
result_types                    84
major_field_of_studies          84
professional_company_names      84
company_urls                    84
start_dates                     84
end_dates                       84
related_skils_in_job            84
positions                       84
locations                       84
responsibilities                 0
﻿job_position_name               0
educationaL_requirements         0
responsibilities.1               0
matched_score                    0
dtype: int64

In [8]:
# Conta a frequência dos valores na coluna
qtd = df['matched_score'].value_counts().reset_index(name='Frequência').rename(columns={'index': 'matched_score'})
# Imprime as frequências
print('Frequência da coluna matched_score')
print(qtd)

Frequência da coluna matched_score
     matched_score  Frequência
0         0.850000        1470
1         0.650000        1321
2         0.716667         516
3         0.683333         483
4         0.750000         452
..             ...         ...
340       0.166667           1
341       0.903333           1
342       0.100000           1
343       0.616666           1
344       0.050000           1

[345 rows x 2 columns]

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

# Criando uma instância de CountVectorizer
vectorizer = CountVectorizer(stop_words='english')

# Transformando o texto da coluna 'skills' em uma matriz de frequências de palavras
X = vectorizer.fit_transform(df['skills'].dropna())

# Calculando a frequência de palavras
word_freq = X.sum(axis=0).A1
words = vectorizer.get_feature_names_out()

# Criando um dataframe para visualizar as palavras e suas frequências
word_freq_df = pd.DataFrame(list(zip(words, word_freq)), columns=['Word', 'Frequency'])
word_freq_df = word_freq_df.sort_values(by='Frequency', ascending=False)

print(word_freq_df.head(10))

            Word  Frequency
553         data       8540
1256  management       6146
1178    learning       5404
123     analysis       5320
1335   microsoft       3976
1731      python       3892
1237     machine       3668
1459      office       3320
820    financial       2908
314     business       2904

In [10]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import TfidfVectorizer

# Vetorizando o texto usando TF-IDF
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.85)
X = vectorizer.fit_transform(df['responsibilities'].dropna())

# Aplicando LDA para encontrar tópicos
lda = LatentDirichletAllocation(n_components=5, random_state=42)
lda.fit(X)

# Exibindo os tópicos
for i, topic in enumerate(lda.components_):
    print(f"Topic {i + 1}:")
    words = [vectorizer.get_feature_names_out()[index] for index in topic.argsort()[-10:]]
    print(", ".join(words))
    print()

Topic 1:
django, backup, trends, industry, mentorship, troubleshooting, sql, server, management, database

Topic 2:
coordination, troubleshooting, documentation, performance, design, management, sourcing, software, vat, support

Topic 3:
log, machinery, supervision, report, safety, development, review, maintenance, preparation, policy

Topic 4:
design, innovation, collaboration, based, integration, ai, audit, learning, model, data

Topic 5:
compliance, cost, strategy, voucher, data, analysis, ml, brand, marketing, verification